body {
    background: url(/Images/1129018.jpg) scroll;
    background-repeat: repeat;
    margin: 0px;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


.navbar {
    box-sizing: border-box;
    list-style-type: none;
    margin-top: 10px;
    padding: 0px;
    height: 50px;
    overflow: hidden;
    background-color: #181b1c;
    box-shadow: 0px 10px 20px 0px black;
    border-radius: 5px;
    margin: 10px;
}

.main-logo {
    position: absolute;
    left: 90px;
    top: 20px;
    width: 200px;
    transition: 0.3s;
    z-index: 1;
}

.main-logo:hover {
    transform: scale(1.1);
}

.navbar li {
    display: flex;
    float: right;
    height: 100%;
    align-items: center;
}

.navbar li a {
    display: flex;
    padding: 10px;
    height: 50px;
    width: 60px;
    color: white;
    text-decoration: none;
    margin: 0px;
    transition: .5s;
    justify-content: center;
    align-items: center;
}

.navbar li a:hover {
    background-color: #222324;
    box-shadow: 0px 8px 16px 0px black;
    font-size: large;
}


.dropdn {
    float: left;
    background-color: inherit;
    height: 50px;
    width: 50px;
}



.dropbt {
    border: 0px;
    opacity: 0.5;
    background-color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
    margin-left: 10px;
}

.dropbt img {
    display: block;
    width: 25px;
    background-color: inherit;
    margin: 0;
}

.dropbt:hover {
    transform: scale(1.2);
}

.dropcn {
    position: absolute;
    width: 120px;
    padding: 10px;
    background-color: #181b1c;
    box-shadow: 0px 10px 20px 0px black;
    display: none;
    z-index: 1;
}

.dropcn:active {
    animation-name: fade;
    animation-duration: 0.5s;
}


.dropcn a {
    color: white;
    width: 100px;
    display: block;
    text-align: left;
    padding: 10px;
    text-decoration: none;
    transition: .5s;
}

.dropcn a:hover {
    font-size: 20px;
}

.dropdn:hover .dropcn {
    display: block;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: none;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
    justify-content: center;
}




.slideshow-container {
    box-sizing: border-box;
    width: 100%;
    height: 550px;
    padding: 0px 10px;
    position: relative;
}

.mySlides {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    box-shadow: 0px 0px 10px 10px black;
    display: none;
}

.mySlides img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 30% 35%;
    opacity: 1;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8)
}

.prev:hover,
.next:hover {
    transform: scale(1.5);
    background-color: rgba(0, 0, 0, 0.8)
}

.next {
    right: 10px;
}

.dot {
    cursor: pointer;
    height: 3px;
    width: 40px;
    margin: 0 8px;
    background-color: #717171;
    border-radius: 2px;
    display: inline-block;
    transition: background-color 0.5s ease;
    transition: transform 0.5s ease;
    opacity: 0.5;

}

.active,
.dot:hover {
    background-color: #bbb;
    transform: scale(1.5);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}



.about-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin-top: 75px;
    margin-bottom: 50px;
}

.about1 {
    margin-top: 10px;
    width: 50%;
    left: 50%;
    height: fit-content;
    padding: 0px;
    margin: 0;
    margin-right: 15px;


}

.about2 {
    width: 50%;
    right: 50%;
    padding: 0px;
    margin: 40px 15px 0 0;
    margin: 0;
    margin-left: 15px;

}

.hidden1 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 1s;
}

.hidden2 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

.socials-location-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 0;

}

.socials {
    width: 50%;
    right: 50%;
    text-align: right;
    margin: 0 30px 10px 0;

}

.instagram {
    height: auto;
    width: 100%;
    align-items: center;
    justify-self: center;
    margin: 0%;
    padding: 0%;
}

.instagram img {
    width: 25px;
    margin-right: 10px;
    margin: none;
    float: right;
}

.instagram a {
    margin: 3px 0px 0 0px;
    text-decoration: none;
    height: 100%;
    text-align: center;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: white;

}

.facebook {
    height: auto;
    width: 100%;
    align-items: center;
    justify-self: center;
    margin: 0%;
    padding: 0%;
}

.facebook img {
    width: 25px;
    margin-right: 10px;
    margin: none;
    float: right;
}

.facebook a {
    margin: 3px 0px 0 8px;
    text-decoration: none;
    height: 100%;
    text-align: center;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: white;

}

.twitter {
    height: auto;
    width: 100%;
    align-items: center;
    justify-self: center;
    margin: 0%;
    padding: 0%;
}

.twitter img {
    width: 25px;
    margin-right: 10px;
    margin: none;
    float: right;
}

.twitter a {
    box-sizing: border-box;
    margin: 3px 0px 0 27px;
    text-decoration: none;
    height: 100%;
    text-align: center;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: white;

}

.linkedin {
    height: auto;
    width: 100%;
    align-items: center;
    justify-self: center;
    margin: 0%;
    padding: 0%;
}

.linkedin img {
    width: 25px;
    margin-right: 10px;
    margin: none;
    float: right;
}

.linkedin a {
    margin: 3px 0px 0 17px;
    text-decoration: none;
    height: 100%;
    text-align: center;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: white;

}

.socials a {
    transition: 0.5s;
}

.socials a:hover {
    color: #0d8521;
    font-size: 25px;
}

.location {
    width: 50%;
    left: 50%;
    text-align: left;
    margin: 0 0 10px 30px;
}

.google-map iframe {
    height: 50%;
    width: 60%;
    box-shadow: 0px 0px 10px 10px black;
    transition: transform 0.3s;
    transition: 0.3s;
}

.google-map iframe:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 16px 0px white;
}




.news-container h3 {
    position: relative;
    color: whitesmoke;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 8px;
    font-family: 'Times New Roman', Times, serif;
}

.inputele {
    position: relative;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;

}

.inputele input[type=text] {
    border-style: none none solid none;
    background: none;
    box-sizing: border-box;
    width: 150px;
    margin-right: 10px;
    -webkit-transition: 0.9s;
    transition: 0.9s;
}

input[type=text]:hover {
    background-color: rgb(243, 244, 243);
}

.inputele input[type=email] {
    position: relative;
    border-style: none none solid none;
    background: none;
    -webkit-transition: 0.9s;
    transition: 0.9s;
}

input[type=email]:hover {
    background-color: rgb(243, 244, 243);
}

.submitele {
    display: flex;
    justify-content: center;
}

.news-container input[type=submit] {
    position: relative;
    width: 300px;
    height: 35px;
    border-radius: 6px;
    border-style: none;
    background-color: #0d8521;
    color: beige;
    text-align: center;
    margin: 0 auto;
    transition: 0.5s;
}

.news-container input[type=submit]:hover {
    background-color: #075915;
    transform: scale(1.1);
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    padding: 0%;
    margin: 0%;
    background-color: antiquewhite;
    text-align: center;
    z-index: 1;
}

.footer h3 {
    margin: 0;
    padding: 5px 0 0 0;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.7;
}




@media screen and (max-width: 600px) {

    .container,
    .inputele {
        width: 100%;
        margin-top: 0;
    }
}